@import "fonts.css";

body {
  background: #ec008c;
  color: #fff;
}

/*----------------------------------------------------------
  Typography
------------------------------------------------------------*/
.navbtn-primary{ font: 21px/48px HUGEAvantGardeBold; }
.navbtn-secondary{ font: 21px/48px Galaxie; }
h1{ font: 120/132 HUGEAvantGardeBold; }
body{ font: 24px/36px Galaxie }
.copyright { font: 12px/16 HelveticaNeue Helvetica; }

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 20vmin/1 HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
}