@import url(fonts.css);
/*----------------------------------------------------------
  Variables, General, resets
------------------------------------------------------------*/
body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

/*----------------------------------------------------------
  Typography
------------------------------------------------------------*/
.navbtn-primary {
  font: 21px/48px HUGEAvantGardeBold; }
  @media screen and (max-width: 975px) and (min-width: 768px) {
    .navbtn-primary {
      font: 18px/36px HUGEAvantGardeBold; } }

.navbtn-secondary {
  font: 21px/48px Galaxie; }

h1 {
  font: 120px/132px HUGEAvantGardeBold; }
  @media screen and (max-width: 767px) {
    h1 {
      font: 44px/48px HUGEAvantGardeBold; } }

body {
  font: 24px/36px Galaxie; }
  @media screen and (max-width: 767px) {
    body {
      font: 14px/24px Galaxie; } }

.copyright {
  font: 12px/16 HelveticaNeue Helvetica; }

/*----------------------------------------------------------
    nav default >= 768px
------------------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 10; }

#nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: #ec008c; }

#nav-logo {
  position: absolute;
  top: 24px;
  left: 24px;
  height: 24px;
  width: 60px;
  background-image: url(../images/HUGE-white.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

#nav-hamburger {
  display: none; }

@media screen and (min-width: 768px) {
  #nav-menus {
    padding-left: 132px; } }

.navmenu-primary, .navmenu-secondary {
  cursor: pointer; }

/* Primary Level */
.navmenu-primary {
  position: relative;
  height: 72px; }

.navbtn-primary {
  display: inline-block;
  height: 72px;
  line-height: 72px;
  color: #fff;
  -webkit-transition: background 0.3s ease-out 0s, color 0.3s ease-out 0s;
          transition: background 0.3s ease-out 0s, color 0.3s ease-out 0s; }
  .navbtn-primary:hover {
    background-color: #fff;
    color: #ec008c; }

.navbtn-primary > a {
  display: block;
  height: 100%;
  padding: 0 24px; }
  @media screen and (max-width: 975px) and (min-width: 768px) {
    .navbtn-primary > a {
      padding: 0 16px; } }

.nav-copyright {
  display: none; }

/* Second Level*/
.navmenu-secondary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 12px 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out 0s;
          transition: opacity 0.3s ease-out 0s;
  pointer-events: none; }

@media screen and (min-width: 768px) {
  body[data-navmenu-secondary="0"] .navbtn-primary:nth-child(1) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="0"] .navbtn-primary:nth-child(1) .navmenu-secondary {
      opacity: 1;
      pointer-events: auto; }
  body[data-navmenu-secondary="1"] .navbtn-primary:nth-child(2) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="1"] .navbtn-primary:nth-child(2) .navmenu-secondary {
      opacity: 1;
      pointer-events: auto; }
  body[data-navmenu-secondary="2"] .navbtn-primary:nth-child(3) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="2"] .navbtn-primary:nth-child(3) .navmenu-secondary {
      opacity: 1;
      pointer-events: auto; }
  body[data-navmenu-secondary="3"] .navbtn-primary:nth-child(4) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="3"] .navbtn-primary:nth-child(4) .navmenu-secondary {
      opacity: 1;
      pointer-events: auto; }
  body[data-navmenu-secondary="4"] .navbtn-primary:nth-child(5) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="4"] .navbtn-primary:nth-child(5) .navmenu-secondary {
      opacity: 1;
      pointer-events: auto; }
  body[data-navmenu-secondary="5"] .navbtn-primary:nth-child(6) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="5"] .navbtn-primary:nth-child(6) .navmenu-secondary {
      opacity: 1;
      pointer-events: auto; }
  body[data-navmenu-secondary="6"] .navbtn-primary:nth-child(7) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="6"] .navbtn-primary:nth-child(7) .navmenu-secondary {
      opacity: 1;
      pointer-events: auto; }
  body[data-navmenu-secondary="7"] .navbtn-primary:nth-child(8) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="7"] .navbtn-primary:nth-child(8) .navmenu-secondary {
      opacity: 1;
      pointer-events: auto; } }

.navbtn-secondary {
  color: #000;
  -webkit-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s; }
  .navbtn-secondary:hover {
    color: #ec008c;
    background-color: #eee; }

.navbtn-secondary > a {
  display: block;
  height: 100%;
  padding: 0 24px;
  white-space: nowrap; }

#nav-curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out 0s;
          transition: opacity 0.3s ease-out 0s; }
  body[data-navmenu-primary="-1"][data-navmenu-secondary="-1"] #nav-curtain {
    opacity: 0;
    pointer-events: none; }

/*----------------------------------------------------------
  nav changes < $breakpoint-mid
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  header {
    bottom: 0; }
  #nav-bar {
    position: relative;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 100; }
  #nav-logo {
    position: absolute;
    top: 20px;
    left: calc(-100% + 20px);
    height: 20px; }
  #nav-hamburger {
    display: block;
    position: absolute;
    top: 20px;
    left: 24px;
    height: 20px;
    width: 24px;
    border: none;
    background: transparent;
    outline: 0; }
  #nav-animator {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 72px);
    height: 100%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
            transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; }
    body[data-navmenu-primary="-1"] #nav-animator {
      -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transition: -webkit-transform 0.4s ease-out 0.2s;
              transition: transform 0.4s ease-out 0.2s; }
  #nav-menus {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: calc(100% - 72px);
    background: #fff;
    overflow-y: auto;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
            transition: transform 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s; }
    body[data-navmenu-primary="-1"] #nav-menus {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-transition: -webkit-transform 0.4s ease-out 0.2s;
              transition: transform 0.4s ease-out 0.2s; }
  .navmenu-primary {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    min-height: calc(100% - 48px);
    width: 100%;
    padding: 12px 0;
    box-sizing: border-box; }
  .navbtn-primary {
    display: block;
    position: relative;
    height: auto;
    color: #000; }
    .navbtn-primary:hover {
      background-color: #eee; }
  .navbtn-primary > a {
    height: 48px;
    line-height: 48px; }
  .navbtn-chevron:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 0;
    width: 12px;
    height: 12px;
    border-right: 5px solid #ec008c;
    border-bottom: 5px solid #ec008c;
    margin: 0 18px;
    pointer-events: none;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.6s ease-out 0s;
            transition: transform 0.6s ease-out 0s; }
  .navmenu-secondary {
    position: relative;
    padding: 0;
    background-color: #fff;
    opacity: 0;
    max-height: 0;
    -webkit-transition: max-height 0.3s ease-out 0.3s, opacity 0.3s ease-out 0s;
            transition: max-height 0.3s ease-out 0.3s, opacity 0.3s ease-out 0s; }
  body[data-navmenu-secondary="0"] .navbtn-primary:nth-child(1) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="0"] .navbtn-primary:nth-child(1) .navmenu-secondary {
      -webkit-transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
              transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
      opacity: 1;
      max-height: 500px;
      pointer-events: auto; }
    body[data-navmenu-secondary="0"] .navbtn-primary:nth-child(1).navbtn-chevron:after {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
  body[data-navmenu-secondary="1"] .navbtn-primary:nth-child(2) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="1"] .navbtn-primary:nth-child(2) .navmenu-secondary {
      -webkit-transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
              transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
      opacity: 1;
      max-height: 500px;
      pointer-events: auto; }
    body[data-navmenu-secondary="1"] .navbtn-primary:nth-child(2).navbtn-chevron:after {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
  body[data-navmenu-secondary="2"] .navbtn-primary:nth-child(3) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="2"] .navbtn-primary:nth-child(3) .navmenu-secondary {
      -webkit-transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
              transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
      opacity: 1;
      max-height: 500px;
      pointer-events: auto; }
    body[data-navmenu-secondary="2"] .navbtn-primary:nth-child(3).navbtn-chevron:after {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
  body[data-navmenu-secondary="3"] .navbtn-primary:nth-child(4) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="3"] .navbtn-primary:nth-child(4) .navmenu-secondary {
      -webkit-transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
              transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
      opacity: 1;
      max-height: 500px;
      pointer-events: auto; }
    body[data-navmenu-secondary="3"] .navbtn-primary:nth-child(4).navbtn-chevron:after {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
  body[data-navmenu-secondary="4"] .navbtn-primary:nth-child(5) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="4"] .navbtn-primary:nth-child(5) .navmenu-secondary {
      -webkit-transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
              transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
      opacity: 1;
      max-height: 500px;
      pointer-events: auto; }
    body[data-navmenu-secondary="4"] .navbtn-primary:nth-child(5).navbtn-chevron:after {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
  body[data-navmenu-secondary="5"] .navbtn-primary:nth-child(6) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="5"] .navbtn-primary:nth-child(6) .navmenu-secondary {
      -webkit-transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
              transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
      opacity: 1;
      max-height: 500px;
      pointer-events: auto; }
    body[data-navmenu-secondary="5"] .navbtn-primary:nth-child(6).navbtn-chevron:after {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
  body[data-navmenu-secondary="6"] .navbtn-primary:nth-child(7) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="6"] .navbtn-primary:nth-child(7) .navmenu-secondary {
      -webkit-transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
              transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
      opacity: 1;
      max-height: 500px;
      pointer-events: auto; }
    body[data-navmenu-secondary="6"] .navbtn-primary:nth-child(7).navbtn-chevron:after {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
  body[data-navmenu-secondary="7"] .navbtn-primary:nth-child(8) {
    background-color: #fff;
    color: #ec008c; }
    body[data-navmenu-secondary="7"] .navbtn-primary:nth-child(8) .navmenu-secondary {
      -webkit-transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
              transition: max-height 0.6s ease-out 0s, opacity 0.6s ease-out 0.6s;
      opacity: 1;
      max-height: 500px;
      pointer-events: auto; }
    body[data-navmenu-secondary="7"] .navbtn-primary:nth-child(8).navbtn-chevron:after {
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg); }
  .navbtn-secondary {
    color: #000; }
  #nav-curtain {
    top: 60px;
    left: auto;
    right: 0;
    width: 72px;
    z-index: 20;
    -webkit-transition: opacity 0.2s ease-out 0.4s;
            transition: opacity 0.2s ease-out 0.4s; }
    body[data-navmenu-primary="-1"][data-navmenu-secondary="-1"] #nav-curtain {
      -webkit-transition: opacity 0.2s ease-out 0s;
              transition: opacity 0.2s ease-out 0s; }
  .nav-copyright {
    display: block;
    margin: 0;
    height: 48px;
    line-height: 48px;
    padding: 0 24px; } }

/*----------------------------------------------------------
  Hamburger
------------------------------------------------------------*/
.hamburger-btn {
  height: 20px; }

.hamburger-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  -webkit-transform-origin: 96% 42%;
      -ms-transform-origin: 96% 42%;
          transform-origin: 96% 42%;
  -webkit-transition: all 0.3s cubic-bezier(.5, -0.5, .5, 1.5) 0s;
          transition: all 0.3s cubic-bezier(.5, -0.5, .5, 1.5) 0s; }
  .hamburger-bar:nth-child(1) {
    top: 0; }
  .hamburger-bar:nth-child(2) {
    top: 8px; }
  .hamburger-bar:nth-child(3) {
    top: 16px; }
  body:not([data-navmenu-primary="-1"]) .hamburger-bar:nth-child(1) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  body:not([data-navmenu-primary="-1"]) .hamburger-bar:nth-child(2) {
    opacity: 0; }
  body:not([data-navmenu-primary="-1"]) .hamburger-bar:nth-child(3) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

#main {
  margin-top: 72px; }
  @media screen and (max-width: 767px) {
    #main {
      margin-top: 60px; } }

.main-beauty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 640px;
  background-image: url(../images/swieder.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 767px) {
    .main-beauty {
      height: 450px; } }

.main-title {
  color: #fff;
  text-shadow: 0 0 1px black; }

.main-body {
  max-width: 968px;
  margin: 0 auto;
  padding: 0 2rem; }
